@import "./../../assets/colors.scss";

.header {
  background: $background;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header img {
  height: 60px;
}