$background: #daf0fc;
$link: #3d3d3d;
$text: #54c5ea;
$button: #1ecbfd;
$button__hover: #3cbbcf;
$button__active: #299aac;
$gray: #cccccc;
$dark-gray: #999999;
$white: #ffffff;
$backgroundUser: #d7d4af;
$backgroundUserCount: #d4dbef;
$backgroundDashboard: #e5e2cc;